.fsf-zoller-compare {
    margin-bottom: 150px !important;
    padding: 50px;
    padding-bottom: 15px;
}

.fsf-zoller-compare.nodistance {
    margin-bottom: 0 !important;
}

.fsf-zoller-compare .container {
    max-width: 1260px;
}

.fsf-zoller-compare h2 {
    font-size: 32px;
    line-height: 44px;
    font-weight: bold;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 0;
    color: black;
}

.fsf-zoller-compare p {
    font-weight: bold;
    margin-bottom: 0;
}

.fsf-zoller-compare p.grey {
    font-weight: normal;
    color: #9d9d9d;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.fsf-zoller-compare .row {
    margin-bottom: 35px;
    border-bottom: 1px solid #dadada;
    margin-left: 0;
    margin-right: 0;
}

.fsf-zoller-compare .row {
    margin-left: 0;
    margin-right: 0;
}
.fsf-zoller-compare .row .col-6 {
    padding-left: 0;
    padding-right: 0;
}

.fsf-zoller-compare .row .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.fsf-zoller-compare .row.first-row {
    border-bottom: 0;
}

.fsf-zoller-compare .wrapper {
    position: relative;
}

.fsf-zoller-compare .wrapper p {
    display: inline-block;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    color: black;
    padding-bottom: 6px;
}

.fsf-zoller-compare .wrapper .info-popover {
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: -2px;
}

@media (max-width: 1200px) {
    .fsf-zoller-compare {
        margin-bottom: 10px;
        padding: 50px;
        padding-bottom: 65px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .fsf-zoller-compare .container {
        padding: 0;
    }
}
