<div class="fsf-zoller-compare {f:if(condition: '{settings.distance} == \'nodistance\'', then: 'nodistance')}">
    <div class="container">
        <div class="row first-row">
            <div class="col-12">
                <h2>{settings.headline}</h2>
            </div>
        </div>
        
        <f:for
            each="{settings.references}"
            as="reference"
            key="key"
            iteration="iterator"
        >
            <div class="row ">
                <div class="col-6">
                    <div class="wrapper">
                        <p>{reference.item.headline1}</p>
                        <f:if condition="{reference.item.info1}">
                            <div class="info-popover" data-toggle="popover" data-trigger="hover"  data-content="{reference.item.info1}"><img src="/typo3conf/ext/fsf_zoller_compare/Resources/Public/Icons/info.png" class="info-icon"></div>
                        </f:if>
                    </div>
                    <f:if condition="{reference.item.text1}">
                        <p class="grey">
                            {reference.item.text1}
                        </p>
                    </f:if>
                </div>
                <div class="col-6">
                    <div class="wrapper">
                        <p>{reference.item.headline2}</p>
                        <f:if condition="{reference.item.info2}">
                            <div class="info-popover" data-toggle="popover" data-trigger="hover" data-content="{reference.item.info2}"><img src="/typo3conf/ext/fsf_zoller_compare/Resources/Public/Icons/info.png" class="info-icon"></div>
                        </f:if>
                    </div>
                    <f:if condition="{reference.item.text2}">
                        <p class="grey">
                            {reference.item.text2}
                        </p>
                    </f:if>
                </div>
            </div>
        </f:for>
    </div>
</div>
