<div class="fsf-zoller-compare">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{settings.headline}</h1>
            </div>
        </div>
        
        <f:for
            each="{settings.references}"
            as="reference"
            key="key"
            iteration="iterator"
        >
            <div class="row">
                <div class="col-6">
                    <p>{reference.item.headline1}</p>
                    <f:if condition="{reference.item.text1}">
                        <p class="grey">
                            {reference.item.text1}
                        </p>
                    </f:if>
                </div>
                <div class="col-6">
                    <p>{reference.item.headline2}</p>
                    <f:if condition="{reference.item.text2}">
                        <p class="grey">
                            {reference.item.text2}
                        </p>
                    </f:if>
                </div>
            </div>
        </f:for>
    </div>
</div>
